/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@800&family=Karla:ital,wght@0,400;0,500;0,700;1,600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $karla;
	font-weight: normal;
}

.w-img {
	& img {
		width: 100%;
	}
}

.m-img {
	& img {
		max-width: 100%;
	}
}

img {
	max-width: 100%;
}
*:focus{
	outline: inherit;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	text-decoration: none;
}

a,
button {
	outline: none;
	border: none;
	text-decoration: none;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 0;
	border: 0
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	font-weight: 800;
	line-height: 1;
	font-family: $gothic;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	display: inline-block;
}

p {
	font-size: 21px;
	font-weight: normal;
	color: $black-2;
	margin: 0;
	line-height: 1.5;

}

.btn {

	border: 1px solid $black;
	padding: 12px 25px;
	color: $black;
	font-size: 16px;
	transition: .3s;
	background-color: transparent;
	font-weight: 700;

	&:hover {
		border-color: $bule;
		background-color: $bule;
		color: white;
	}
}

.btn-bule {
	border-color: $bule;
	background-color: $bule;
	color: white;

	&:hover {
		border-color: $black;
		background-color: transparent;
		color: $black;
	}
}

*::-moz-selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

::-moz-selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
	color: $black;
	font-size: 14px;
	opacity: 1;
}

*::placeholder {
	color: $black;
	font-size: 14px;
	opacity: 1;
}